<div id="ft_content">
  <iframe id="ft_like" src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2F{{ request.get_host }}%2F&amp;layout=box_count&amp;show_faces=true&amp;width=450&amp;action=like&amp;font=lucida+grande&amp;colorscheme=dark&amp;height=65" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:65px;" allowTransparency="true"></iframe>
  <div id="more_info" class="bold">
    <ul>
      <li><a href="{% url how_it_works %}">How Does This Work?</a></li>
      <li><a href="{% url terms_of_use %}">Terms Of Use</a></li>
      <li><a href="{% url privacy_policy %}">Privacy Policy</a></li>
    </ul>
  </div>
  <div class="clear"></div>
</div>
