<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <title>{% block title %}Pony{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/base.css" media="all" />
    {% block head %}{% endblock %}
  </head>
  <body>
    <div id="hd">
      {% block hd %}{% include "_header.html" %}{% endblock %}
    </div>
    <div id="bd">
      {% block bd %}{% endblock %}
    </div>
    <div id="ft">
      {% block ft %}{% include "_footer.html" %}{% endblock %}
    </div>

    {% block js %}
      <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.4.2.min.js"></script>
      <script type="text/javascript" src="{{ MEDIA_URL }}js/base.js"></script>
      <script type="text/javascript">
        pony.settings = {
          request_domain: '{{ request.get_host }}',
          request_secure: {{ request.is_secure|yesno:"true,false" }},
          facebook_app_id: '{{ settings.FACEBOOK_APP_ID }}',
          facebook_callback_url: '{% url pony.social.views.callback service="facebook" %}'
        };
      </script>
    {% endblock %}
  </body>
</html>
