<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="BdayPony.com is a new website that lets your friends chip in to buy you that one thing you really want for your birthday." />
    <meta name="keywords" content="birthday,gift,present,online,registry" />

    <title>{% block title %}bdaypony{% endblock %}</title>
    {% if settings.DEBUG %}
      <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/jquery-ui/ui-darkness/jquery-ui-1.8.6.css" media="all" />
    {% else %}
      <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/themes/ui-darkness/jquery-ui.css" media="all" />
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/base.css" media="all" />
    {% block head %}{% endblock %}
    {% if not settings.DEBUG %}
      {# Google Analytics #}
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-19822715-1']);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
    {% endif %}
  </head>
  <body>
    <div id="hd">
      {% block hd %}{% include "_header.html" %}{% endblock %}
    </div>
    <div id="bd" class="{% block bd_class %}{% endblock %}">
      <div id="bd_content">
        {% block bd %}{% endblock %}
      </div>
    </div>
    <div id="ft">
      {% block ft %}{% include "_footer.html" %}{% endblock %}
    </div>

    {% block js %}
      {% if settings.DEBUG %}
        <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.4.4.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.8.6.min.js"></script>
      {% else %}
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js"></script>
      {% endif %}
      <script type="text/javascript" src="{{ MEDIA_URL }}js/base.js"></script>
      <script type="text/javascript">
        pony.settings = {
          request_domain: '{{ request.get_host }}',
          request_secure: {{ request.is_secure|yesno:"true,false" }},
          facebook_app_id: '{{ settings.FACEBOOK_APP_ID }}',
          facebook_callback_url: '{% url pony.social.views.callback service="facebook" %}',
          facebook_token: '{{ request.user.get_profile.facebook_token }}',
          twitter_authorize_url: '{% url pony.social.views.authorize_url service="twitter" %}',
          twitter_callback_url: '{% url pony.social.views.callback service="twitter" %}',
          twitter_query_url: '/social/oauth/twitter/',
          twitter_username: '{{ request.user.get_profile.twitter_username }}',
          twitter_user_id: '{{ request.user.get_profile.twitter_user_id }}'
        };
      </script>
    {% endblock %}
  </body>
</html>
