{% extends "base.html" %}

{% block title %}{{ block.super }} | Dashboard{% endblock %}

{% block bd %}
  <h1>My Gifts</h1>

  <ul id="gifts">
    {% if can_add_gift %}
      <li>
        {% url pony.gifts.views.add %}
      </li>
    {% endif %}
    {% for gift in gifts %}
      <li>
        <a href="{{ gift.get_absolute_url }}">{{ gift.name|capfirst }}</a>
        ({{ gift.gift_date|date:"m/d/Y" }}) -
        {{ gift.get_status_display|capfirst }}
      </li>
    {% endfor %}
  </ul>
{% endblock %}